<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Importadas -->
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type="image/png" href="/img/icono.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">

    <!-- Titulo -->
    <title>Prex </title>

</head>

<body>
    <header>
        <nav class="flex-ext-cont">
            <div class="logo">
                <a href="/index">
                    <img src="/img/logo.png" alt="Logo">
                </a>
            </div>

            <div>
                <div class="dropdown">
                    <button class="dropbtn">TRANSPORTE</button>
                    <div class="dropdown-content">
                        <a href="/transporte/Alquiler_Vehiculos">Alquiler de Vehículos</a>
                        <a href="#">Grúas</a>
                        <a href="#">Mensajería</a>
                        <a href="#">Personal</a>
                        <a href="#">Mudanzas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">SCOUTING</button>
                    <div class="dropdown-content">
                        <a href="#">Apartamentos</a>
                        <a href="#">Casas</a>
                        <a href="#">Fincas</a>
                        <a href="#">Edificios</a>
                        <a href="#">Cementerio</a>
                        <a href="#">Locales</a>
                        <a href="#">Lotes</a>
                        <a href="#">Bodegas</a>
                        <a href="#">Habitaciones</a>
                        <a href="#">Hoteles</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">CASTING</button>
                    <div class="dropdown-content">
                        <a href="#">Actores</a>
                        <a href="#">Modelos</a>
                        <a href="#">Reparto</a>
                        <a href="#">Extras</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">DECORACIÓN</button>
                    <div class="dropdown-content">
                        <a href="#">Maquillaje</a>
                        <a href="#">Diseño de Interiores</a>
                        <a href="#">Diseño de Vestuario</a>
                        <a href="#">Estilistas</a>
                        <a href="#">Vestuaristas</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">OTROS</button>
                    <div class="dropdown-content">
                        <a href="#">Electricidad</a>
                        <a href="#">Abogados</a>
                        <a href="#">Banquetes y Refrigerio</a>
                        <a href="#">Cubrimiento de Eventos</a>
                        <a href="#">Representación Artistica</a>
                        <a href="#">Corredores de Seguros</a>
                        <a href="#">Publicidad</a>
                    </div>
                </div>
                <div class="dropdown buscadoor">
                    <button class="dropbtn">
                        <i class="fas fa-search"></i>
                    </button>
                    <!-- <input type="text" name="info" class "info" placeholder="Buscador"> 
                        </input>-->
                </div>
            </div>
            <div class="flex-ext-cont user">
                <div>
                    <p>Guillermo del Toro</p>
                </div>
                <div>
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <i class="fas fa-truck"></i>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="banner"></div>
    </section>
    
    <script src="main.js"></script>
</body>

</html>