//Colores
$colorFondo: #eaeaea;
$amarillo: #fab400;
$negro: #474747;
$gris: #afafaf;
//espacios
$margen: 3%;
//Fuentes   
@import url('https://fonts.googleapis.com/css?family=Signika:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,700,700i');
$titilium: 'Titillium Web',
sans-serif;
$signikia: 'Signika',
sans-serif;
* {
    font-family: $signikia;
    padding: 0;
    margin: 0;
    transition: all .15s;
    text-decoration: none;
}

header {
    //Color de fondo del header
    background-color: $colorFondo; //Sombra
    box-shadow: 0px 7px 17px -2px rgba(0, 0, 0, 0.25); //Hace que el menú se mantenga hasta después de hacer scroll
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding: 10px 0;
    .logo {
        width: 120px; // margin-left: 1%;
        margin-left: $margen;
        img {
            width: 100%;
        }
    }
}

//Menú de navegación
.dropbtn {
    background-color: transparent;
    color: $negro;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    font-family: $signikia;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background: $colorFondo;
}

.dropdown-content a {
    color: $negro;
    font-family: $signikia;
    font-weight: lighter;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: all .2s;
}

.dropdown-content a:hover {
    color: $negro !important;
    text-decoration: underline;
    font-weight: bolder;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: 1;
    color: $amarillo;
    text-decoration: underline;
}

.user {
    margin-right: $margen;
    color: $gris;
    div:nth-child(2) {
        margin: 0 25px;
    }
    div:hover {
        color: $negro;
    }
}

//Banner
.banner {
    //tamaño del banner
    height: 60vh;
    width: 100%; //Imagen de fondo
    background-image: url("/img/banner/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -220px;
    box-shadow: inset 0px 7px 45px 0px rgba(0, 0, 0, 0.5);
    margin-top: $margen;
}

//Informacion de la pagina de visualización de productos de carros
.contenedor {
    margin: 0 $margen;
    .izq {
        position: fixed;
        margin-top: 119px;
        height: 90vh;
        .mapaSitio {
            padding: 0 $margen;
            font-style: italic;
            color: $gris;
            font-family: $titilium;
            font-weight: lighter;
            a {
                color: $gris;
                font-family: $titilium;
                font-weight: lighter;
                text-decoration: none;
            }
            a:last-child {
                color: $negro;
                font-family: $titilium;
                font-weight: bold;
                text-decoration: underline;
            }
            a:hover {
                text-decoration: underline;
            }
            a:last-child:hover {
                color: $amarillo;
            }
        } //Filtro de productos
        .filtro {
            width: 350px;
            border: 2px solid $gris;
            margin-top: 18px;
            padding: 15px;
            box-sizing: border-box;
            background: #FFF;
            h3 {
                background: $negro;
                color: $colorFondo;
                padding: 3%;
                text-align: center;
                font-size: 15px;
                transition: all .2s;
                margin: 20px 0;
            }
            .orden {
                select {
                    margin-left: 10px;
                    font-family: $signikia;
                }
            }
            .calendario {
                #datapicker {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
                .ui-datepicker-header {
                    background: $negro;
                    color: $colorFondo;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                }
                .ui-datepicker-inline {
                    box-sizing: border-box;
                    width: 100%;
                }
                .ui-state-active {
                    background: $gris;
                    color: $negro;
                    font-weight: 400;
                    border: #c5c5c5;
                }
                .ui-state-highlight {
                    background: $amarillo;
                    border: #c5c5c5;
                    font-weight: 600;
                    color: $negro;
                }
                .ui-state-default{
                    text-align: center;
                }
                .ui-datepicker-next{
                    background-color: $colorFondo;
                }

                .ui-datepicker-prev{
                    background-color: $colorFondo;
                }
                
            }
            .color {
                div {
                    width: 100%;
                    a {
                        padding: 10px 20px;
                        border: solid 2px transparent;
                    }
                    a:hover {
                        border: solid 2px $amarillo;
                    }
                }
                .coloruno {
                    a:nth-child(1) {
                        background-color: red;
                    }
                    a:nth-child(2) {
                        background-color: blueviolet;
                    }
                    a:nth-child(3) {
                        background-color: $amarillo;
                    }
                    a:nth-child(4) {
                        background-color: $negro;
                    }
                    a:nth-child(5) {
                        background-color: rgba(255, 255, 255, 0.726);
                    }
                }
                .colordos {
                    margin-top: 20px;
                    a:nth-child(1) {
                        background-color: red;
                    }
                    a:nth-child(2) {
                        background-color: red;
                    }
                    a:nth-child(3) {
                        background-color: red;
                    }
                    a:nth-child(4) {
                        background-color: red;
                    }
                    a:nth-child(5) {
                        background-color: red;
                    }
                }
            }
            .tema {
                text-align: center;
                select {
                    width: 100%;
                }
            }
            .borrar {
                a {
                    div {
                        background-color: $negro;
                        padding: 3%;
                        text-align: center;
                        transition: all .2s;
                        margin: 20px 0;
                        color: $colorFondo;
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
            }
            .borrar:hover {
                a {
                    div {
                        background: $amarillo;
                        color: $colorFondo;
                        color: $negro;
                    }
                }
            }
        }
        .suscribete {
            margin-top: 20px;
            border: 2px solid $gris;
            background-color: #FFF;
            h3 {
                color: $amarillo;
                font-family: $titilium;
                font-weight: bolder;
                font-size: 40px;
                text-align: center;
                letter-spacing: 1px;
            }
            p {
                color: #afafaf;
                font-size: 14px;
                text-align: center;
                margin-top: -8px;
            }
            div {
                background: $negro;
                width: 93%-7%;
                margin-left: 7%;
                margin-bottom: 7%;
                p {
                    color: $colorFondo;
                    font-family: $titilium;
                    font-weight: bolder;
                    transition: all .2s;
                    padding: 3% 0;
                }
            }
            div:hover {
                background: $amarillo;
                cursor: pointer;
                p {
                    color: $negro;
                }
            }
        }
    } //Visualizacion de productos
    .productos {
        margin-left: 360px;
        margin-top: 110px;
        article {
            width: 260px;
            background: #fafafa;
            box-sizing: border-box;
            border: 2px solid rgba(175, 175, 175, .4);
            padding-bottom: 20px;
            margin: 10px;
            .img-info {
                background-color: #FFF;
                width: 256px;
                height: 210px;
                img {
                    width: 100%;
                }
            }
            h1 {
                color: $amarillo;
                font-weight: bold;
                font-family: $signikia;
                font-size: 25px;
                text-align: center;
                padding: 5px;
                margin-bottom: 5px;
            }
            .info {
                h2 {
                    color: $negro;
                    font-weight: 600;
                    font-family: $signikia;
                    font-size: 15px;
                    text-align: center;
                }
                p {
                    text-align: right;
                    font-family: $titilium;
                    font-weight: 400;
                    font-size: 13px;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    color: $negro;
                }
            }
            .activo {
                border: 2px solid rgba(250, 180, 0, 1) !important;
            }
        }
        article:hover {
            border: 2px solid rgba(175, 175, 175, 1);
        }
    }
}

//Visualización del producto
.producto_detallado {
    margin-top: 110px;
    padding-left: 0 $margen;
    box-sizing: border-box;
    width: 100%;
    .imagenes {
        width: 50%;
        text-align: center;
        .img_principal {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            div {
                width: 85vh;
                height: 50vh;
                border: 2px solid $amarillo;
                background-size: cover;
            }
        }
        .imgs_secundarias {
            width: 100%;
            height: 20vh;
            padding: 0 60px;
            box-sizing: border-box;
            div {
                width: 15vh;
                height: 15vh;
                background-size: cover;
                border: 2px solid white;
                transition: all .2s;
                border: 2px solid $gris;
            }
            div:hover {
                border: 2px solid $amarillo;
            }
        }
        .imgs_secundarias:first-child {
            margin-top: 10vh;
        }
        .imgs_secundarias {
            .ocho {
                background: transparent;
                border: 2px solid transparent;
            }
            .ocho:hover {
                border: 2px solid transparent;
            }
        }
    }
    .info_prod {
        width: 50%;
        box-sizing: border-box;
    }
    h1 {
        font-size: 30px;
        color: $amarillo;
    }
    h2 {
        font-size: 20px;
        color: $amarillo;
        font-weight: 500;
        text-align: left;
    }
    h3 {
        text-align: left;
        font-family: $titilium;
        font-size: 15px;
        font-weight: 600;
    }
}

footer {
    background: $negro;
    border-top: solid 5px $amarillo;
    padding: 0 $margen;
    margin-top: 9px;
    float: inherit;
    div {
        margin: 20px $margen;
        h1 {
            color: $amarillo;
            font-size: 24px;
        }
        p {
            a {
                color: $colorFondo;
                font-family: $titilium;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        .logos {
            margin: 0;
            .fab {
                font-size: 30px;
                color: $colorFondo;
                padding: 0;
                margin-top: 10px;
            }
            .fab:hover {
                color: $amarillo;
            }
        }
        input {
            text-align: center;
            width: 200px;
            height: 30px;
            background-color: rgba(41, 41, 41, 0.4);
            transition: all .2s;
            opacity: .6;
            color: $colorFondo;
        }
        input::placeholder {
            color: $colorFondo;
        }
        input:focus {
            background-color: rgba(41, 41, 41, 1);
            opacity: .8;
            color: $colorFondo;
        }
        button {
            width: 80px;
            height: 35px;
            font-weight: 600;
            margin-left: 10px;
            background: rgba(41, 41, 41, .4);
            border-color: $colorFondo;
            color: $colorFondo;
        }
        button:hover {
            color: $amarillo;
            border-color: $amarillo;
            background: rgba(41, 41, 41, .9);
        }
    }
    .infoo {
        margin-left: 0;
    }
}

.flex-ext-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center
}

.flex-ext-hijo {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-basic-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}