@import url("https://fonts.googleapis.com/css?family=Signika:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,700,700i");
* {
  font-family: "Signika", sans-serif;
  padding: 0;
  margin: 0;
  transition: all .15s;
  text-decoration: none;
}

header {
  background-color: #eaeaea;
  box-shadow: 0px 7px 17px -2px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  padding: 10px 0;
}

header .logo {
  width: 120px;
  margin-left: 3%;
}

header .logo img {
  width: 100%;
}

.dropbtn {
  background-color: transparent;
  color: #474747;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  font-family: "Signika", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  background: #eaeaea;
}

.dropdown-content a {
  color: #474747;
  font-family: "Signika", sans-serif;
  font-weight: lighter;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  transition: all .2s;
}

.dropdown-content a:hover {
  color: #474747 !important;
  text-decoration: underline;
  font-weight: bolder;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 1;
  color: #fab400;
  text-decoration: underline;
}

.user {
  margin-right: 3%;
  color: #afafaf;
}

.user div:nth-child(2) {
  margin: 0 25px;
}

.user div:hover {
  color: #474747;
}

.contenedor {
  margin: 0 3%;
}

.contenedor .izq {
  position: fixed;
  margin-top: 119px;
}

.contenedor .izq .mapaSitio {
  padding: 0 3%;
  font-style: italic;
  color: #afafaf;
  font-family: "Titillium Web", sans-serif;
  font-weight: lighter;
}

.contenedor .izq .mapaSitio a {
  color: #afafaf;
  font-family: "Titillium Web", sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

.contenedor .izq .mapaSitio a:last-child {
  color: #474747;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.contenedor .izq .mapaSitio a:hover {
  text-decoration: underline;
}

.contenedor .izq .mapaSitio a:last-child:hover {
  color: #fab400;
}

.contenedor .izq .filtro {
  width: 350px;
  border: 2px solid #afafaf;
  margin-top: 18px;
  padding: 15px;
  box-sizing: border-box;
}

.contenedor .izq .filtro h3 {
  background: #474747;
  color: #eaeaea;
  padding: 3%;
  text-align: center;
  font-size: 15px;
  transition: all .2s;
  margin: 20px 0;
}

.contenedor .izq .filtro .orden select {
  margin-left: 10px;
  font-family: "Signika", sans-serif;
}

.contenedor .izq h3 {
  color: #fab400;
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.contenedor .izq p {
  color: #afafaf;
  font-size: 14px;
  text-align: center;
  margin-top: -8px;
}

.contenedor .izq input {
  text-align: center;
  width: 86%;
  margin: 5% 7%;
  margin-bottom: 8%;
  height: 25px;
}

.contenedor .izq input input[type="text"]:placeholder {
  font-style: italic;
}

.contenedor .izq div {
  background: #474747;
  width: 86%;
  margin-left: 7%;
  margin-bottom: 7%;
}

.contenedor .izq div p {
  color: #eaeaea;
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
  transition: all .2s;
  padding: 3% 0;
}

.contenedor .izq div:hover {
  background: #fab400;
  cursor: pointer;
}

.contenedor .izq div:hover p {
  color: #474747;
}

.contenedor .izq .suscribete {
  margin-top: 20px;
  border: 2px solid #afafaf;
}

.contenedor .izq .suscribete h3 {
  color: #fab400;
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.contenedor .izq .suscribete p {
  color: #afafaf;
  font-size: 14px;
  text-align: center;
  margin-top: -8px;
}

.contenedor .izq .suscribete input {
  text-align: center;
  width: 86%;
  margin: 5% 7%;
  margin-bottom: 8%;
  height: 25px;
}

.contenedor .izq .suscribete input input[type="text"]:placeholder {
  font-style: italic;
}

.contenedor .izq .suscribete div {
  background: #474747;
  width: 86%;
  margin-left: 7%;
  margin-bottom: 7%;
}

.contenedor .izq .suscribete div p {
  color: #eaeaea;
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
  transition: all .2s;
  padding: 3% 0;
}

.contenedor .izq .suscribete div:hover {
  background: #fab400;
  cursor: pointer;
}

.contenedor .izq .suscribete div:hover p {
  color: #474747;
}

.contenedor .productos {
  margin-left: 360px;
  margin-top: 150px;
}

.contenedor .productos article {
  width: 260px;
  background: #eaeaea;
  box-sizing: border-box;
  border: 2px solid rgba(175, 175, 175, 0.4);
  padding-bottom: 20px;
  margin: 10px;
}

.contenedor .productos article .img-info img {
  width: 100%;
}

.contenedor .productos article h1 {
  color: #fab400;
  font-weight: bold;
  font-family: "Signika", sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

.contenedor .productos article .info h2 {
  color: #474747;
  font-weight: 600;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  text-align: center;
}

.contenedor .productos article .info p {
  text-align: right;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contenedor .productos article .activo {
  border: 2px solid #fab400 !important;
}

.contenedor .productos article:hover {
  border: 2px solid #afafaf;
}

.flex-ext-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

.flex-ext-hijo {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-basic-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
/*# sourceMappingURL=estilos.css.map */